<!DOCTYPE html>
<html>
 <head>
  <title>Inicio</title>
 </head>
 <body>
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/estilos.css')}}">
  {% block y %}
 {% if session.correo %}
 Usted se ha registrado como {{session.correo}} <br> 
 <ul>
  <li><a href="/RegistrarAsistencia/">Registrar asistencia</a></li>
  <li><a href="/cursosInforme/">Informe con detalles</a></li>
 </ul>
 {% else %}
 No se ha registrado. <a href="/LogIn/">Iniciar sesión</a>
 {% endif %}
 {% endblock %}
 <a href="/logOut/">Cerrar sesión</a>
 </body>
</html>
