<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/estilos.css')}}">
  <img src="{{url_for('static', filename= 'logo.png')}}" width="150" height="70" style="float : right;">
<body>
  <form action="/inicio/" method="post"></form>
  <h3>Asistencias</h3>
  <table>
  <thead>
    <tr>
      <th> Apellido: </th>
      <th> Nombre: </th>
      <th> DNI: </th>
      <th> Asistencia: </th>
      <th> Justificacion: </th>
    </tr>
  </thead>
  {% for estudiante in estudiantes %}
    {% for asistencia in asistencias %}
      {% if asistencia.idestudiante == estudiante.id %} 
        <tr>
          <td> {{estudiante.apellido}} </td>
          <td> {{estudiante.nombre}} </td>
          <td> {{estudiante.dni}} </td>
          <td> {{asistencia.asistio}} </td>
          <td> {{asistencia.justificacion}} </td>
        </tr>
      {% endif %}
    {% endfor %}
  {% endfor %} 
  </table>
  <footer><a href="/inicio/"> Volver a inicio </a></footer>
  </body>
</html>