<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/estilos.css')}}">
  <img src="{{url_for('static', filename= 'logo.png')}}" width="150" height="70" style="float : right;">
<body>
  <h3>Registrar asistencia</h3>
  <hr/>
  <form action="/MostrarAsistencia3/" method="post">

  <table>
  <thead>
    <tr>
      <th> Apellido: </th>
      <th> Nombre: </th>
      <th> DNI: </th>
      <th> Asistencia: </th>
      <th> Justificacion: </th>
    </tr>
  </thead>
  {% for estudiante in estudiantes %}
    <tr>
      <td> {{estudiante.apellido}} </td>
      <td> {{estudiante.nombre}} </td>
      <td> {{estudiante.dni}} </td>
      <td>
        <select name = "asistio[]">
          <option value="s"> Si asistió </option>
          <option value="n"> No asistió </option>
        </select><br> 
      </td>
      <td>
        <input type="text" name ="justificacion[]"/>
      </td>
      <input type="hidden" name="idestudiante[]" value="{{estudiante.id}}"/>
        </tr>
  {% endfor %}
  </table>
  <input type="hidden" name="fecha" value="{{fecha}}"/>
  <!-- <input type="hidden" name="curso" value="{{curso}}"/> -->
  <input type="hidden" name="codigoclase" value="{{codigoclase}}"/>
  <input type="submit" value="Registrar asistencia"/> 
  <footer><a href="/LogIn/"> Volver a inicio </a></footer>
  </form>
  </body>
</html>