* {
    box-sizing: border-box;
   }
   body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
   header {
    background-color: #DFB887;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    color: rgb(88, 214, 208);
    height: 20%; 
    width: 100%; 
    opacity: .8; 
    margin-bottom: 2%;
   }
   nav {
    float: center;
    width: 20%;
    height: 300px;
    background: #DFB887;
    padding: 20px;
   }
   nav ul {
    list-style-type: armenian;
    padding: 0;
   }
   article, form {
    float: center;
    padding: 20px;
    width: 80%;
    background-color: #DFB887;
    height: 300px;
   } 
   footer {
    background-color: #d8b387;
    padding: 20px;
    text-align: center;
    color: rgb(8, 5, 5);
   }
   @media (max-width: 600px) {
    nav, article { width: 100%;
        height: auto;
        }
       }    